#divNotreConcept {
    height: 100vh;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 450px;
    }

    @media (max-width: 768px) {
        height: auto;
        padding: 50px 0;
    }
}