@use '../../../variables';

#divMenu {
    background-color: variables.$BrownMenu;
    height: 10vh;
    #nomSiteA {
        color: variables.$WhiteTextColor;
        #nomSite {
            font-size: 18px;
        }
    }
    .nav-link {
        color: variables.$WhiteTextColor;
        font-size: 18px;
    }

    @media (max-width: 768px) {
        height: auto;
        padding: 10px 0;
    }
}