@use '../../../variables';

#divHeader {
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?auto=format&fit=crop&w=1440&q=70');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .card {
        padding: 50px;
        background-color: variables.$HeaderCardBg;
        width: 50%;
        top: 35%;
        left: 25%;
        color: variables.$WhiteTextColor;
        h2 {
            font-size: 50px;
            font-weight: 600;
        }
        small {
            font-size: 16px;
        }
        #divBtn {
            .btnVoirCarte {
                color: variables.$WhiteTextColor;
                background-color: variables.$GlobalBrown;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 768px) {
        .card {
            width: 90%;
            left: 5%;
            padding: 30px;
            h2 { font-size: 32px; }
        }
    }
}