@use '../../../variables';

#divReviews {
  height: 100vh;
  color: variables.$WhiteTextColor;
  #divBg {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=2070');
    background-image: url('/images/reviews-bg.jpg');
    background-size: cover;
    background-position: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(30, 30, 30, 0.7);
    }
  }
  .reviewCard {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 300px;
  }
  --swiper-navigation-color: rgba(255, 255, 255, 0.5);
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.3);

  @media (max-width: 768px) {
    height: auto;
    padding: 50px 0;
  }
}
