@use '../../../variables';

#divCarte {
  height: 100vh;
  background-color: variables.$GlobalBrown;
  h2 {
    color: variables.$WhiteTextColor;
    font-size: 32px;
    letter-spacing: 1px;
  }
  .card {
    overflow: hidden;
    .divInfos {
      background-color: variables.$WhiteTextColor;
      h3 {
        color: #333;
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 50px 0;
  }
}
